@charset "UTF-8";

@font-face {
  font-family: 'NanumSquar';
  src: url('../fonts/NanumSquareR.otf');
}

html,
body {
  height: 100%;
}

body {
  font-family: 'NanumSquar';
  color: #081b28;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
em {
  color: #fff;
}

em {
  font-style: normal;
}

body {
  font-family: 'NanumSquar';
  color: #081b28;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

button {
  background-color: transparent;
  border-style: none;
  padding: 0;
  cursor: pointer;
}

/* common UI */

.button {
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 24px;
  margin: 10px;
  color: #fff;
  background: #f38200;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover {
  background: #fff;
  color: #f38200;
}

input:focus {
  outline: none;
}

/* top button */
.back_to_top {
  position: fixed;
  width: 65px;
  height: 65px;
  right: 30px;
  bottom: 20px;
  background: #f38200;
  z-index: 900;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s;
}

.back_to_top a {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.back_to_top a svg {
  height: 40px;
  width: 40px;
}

.on {
  opacity: 1;
}

/* mobile button area */

input[type='checkbox']#gnbcheck {
  display: none;
}

#gnbbtn {
  position: absolute;
  top: 37px;
  right: 20px;
  width: 32px;
  height: 32px;
  z-index: 900;
  display: none;
  cursor: pointer;
}

/* mobile btn line style */

#gnbbtn > span {
  position: absolute;
  width: 32px;
  height: 1.6px;
  background: #fff;
  top: 16px;
  transform: translateY(-50%);
}

#gnbbtn > span:nth-child(1) {
  top: 8px;
}

#gnbbtn > span:nth-child(3) {
  top: 24px;
}

/* mobile close button */

#mobile_close_btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#mobile_close_btn::before,
#mobile_close_btn::after {
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;
  background: #fff;
  top: 16px;
  transform: translate(-50%) rotate(40deg);
}

#mobile_close_btn::before {
  transform: translate(-50%) rotate(-40deg);
}

/* header */

#header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  background: rgb(0, 0, 0);
  z-index: 800;
  padding: 30px 0;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

#header.header_dark {
  background-color: #000000d3;
}

#header.aniOn {
  opacity: 1;
}

/* top logo */

#top_logo {
  float: left;
}

#top_logo a {
  color: #fff;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  display: block;
  width: 160px;
  margin-top: 12px;
}

#top_logo a img {
  width: 100%;
}

/* gnb */

#gnb {
  float: right;
}

#gnb ul {
  overflow: hidden;
}

#gnb ul li {
  float: left;
}

#gnb ul li a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  font-size: 20px;
}

/* section commom style */
section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081b28;
  min-height: 100vh;
  box-sizing: border-box;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* star bg */

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes loadingStar {
  from {
    -webkit-transform: scale(5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes lightEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textMoveAni {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

section::before {
  height: 100vh;
  width: 100%;
  background: url('../img/layout/section01_before.png');
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transform-origin: 50% 50%;
  animation: loadingStar 1.5s ease-in-out;
}

section::after {
  background: url('../img/layout/section01_after.png');
  animation: rotation 80s linear infinite;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -9;
}

section#intro {
  background-size: cover;
}

section#intro img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.8s ease-in-out;
}

section#intro img.aniOn {
  opacity: 1;
  transform: translateX(0);
}

.intro_wrap {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 20px;
  padding-top: 100px;
  max-width: 1400px;
}

#intro > div > div.intro_left .title_1,
#intro > div > div.intro_left .title_1 {
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
}

#intro > div > div.intro_left .title_1.aniOn,
#intro > div > div.intro_left .title_1.aniOn {
  opacity: 1;
}

#intro > div > div.intro_left .title_1 {
  width: 264px;
  margin: 0 auto 13px;
}

#intro > div > div.intro_left .title_2 {
  display: inline-block;
  position: relative;
  height: 346px;
  width: 369px;
}

#intro > div > div.intro_left .title_2::before {
  position: absolute;
  top: -280px;
  left: 100px;
  content: '';
  display: block;
  background: url('../img/layout/section01_tit02_before.png') no-repeat center
    center;
  width: 771px;
  height: 944px;
  z-index: -1;
  animation: lightEffect 4s ease-in-out infinite alternate;
  animation-delay: 1.7s;
}

.title_2::before {
  opacity: 0;
}

.title_2.changed::before {
  opacity: 1;
}

#intro > div > div.intro_left > img {
  display: none;
}

#intro > div > div.intro_left .title_3 {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
}

#intro > div > div.intro_left .title_3.aniOn {
  opacity: 1;
  transform: translateX(0);
}

.intro_left span {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.intro_left p em {
  font-size: 43px;
  font-weight: 900;
  color: #fac100;
  font-style: normal;
}

.intro_right {
  opacity: 0;
}

.intro_right.aniOn {
  opacity: 1;
}

/* notice */
section#notice {
  display: block;
  height: 550px;
  min-height: initial;
  overflow-x: hidden;
  padding: 60px 20px 0 20px;
}

section#notice img {
  position: absolute;
  right: -200px;
  bottom: 0;
}

.notice_inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.notice_wrap {
  /* position: absolute;
  top: 20%; */
  padding: 4rem 0;
  border: 1px solid #ea7b1c;
  border-left: 0;
  border-right: 0;
}

.notice_wrap .tit {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 900;
  color: #ea7b1c;
  padding-right: 50px;
}

.notice_slide {
  display: inline-block;
}

.notice_slide span {
  font-size: 22px;
  font-family: 'NanumSquare';
  color: #fff;
  font-weight: 200;
  display: block;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.notice_slide em {
  font-family: 'NanumSquare';
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  padding-left: 30px;
}

section#myprofile::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

/* my tools */
section#mytools {
  flex-direction: column;
  padding: 200px 0;
  padding: 0 20px;
}

#mytools .tit span {
  display: block;
  font-size: 200px;
  font-family: 'Montserrat';
  font-weight: 900;
  text-align: center;
  line-height: 100%;
  text-shadow: -1px 0 #595959, 0 1px #595959, 1px 0 #595959, 0 -1px #595959;
  color: #081b28;
}

#mytools .tit em {
  position: absolute;
  top: 215px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.5rem;
  color: #f38200;
  font-family: 'NanumSquare';
  line-height: 120%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}

section#mytools .row .column {
  flex: 20%;
}

section#mytools .row {
  padding: 20px 0;
}

section#mytools .row .column .inner {
  height: 252px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #fff;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section#mytools .row .column .inner.first {
  border: 3px solid #f38200;
}

section#mytools .row .column .inner h3 {
  color: #fff;
  font-size: 28px;
}

section#mytools .row .column .inner p {
  color: #fff;
  font-size: 18px;
}

/* timer */
#timer {
  background: url('../img/layout/section04_bg.png') no-repeat center
    center/cover;
  height: 300px;
  min-height: initial;
}

.timer_inner {
  padding: 60px 0;
  text-align: center;
}

.timer_inner h3 {
  font-size: 32px;
}

.timer_inner ul {
  overflow: hidden;
  padding-top: 40px;
  font-size: 35px;
}

.timer_inner ul li {
  float: left;
  display: block;
  margin-right: 40px;
}

#timer > div > ul > li:nth-child(4) {
  margin: 0;
}

.timer_inner ul li span {
  font-size: 82px;
  display: block;
  line-height: 1;
}

.timer_inner ul li span + em {
  font-size: 26px;
}

#timer::after,
#timer::before {
  display: none;
}

/* about */

#about .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 0;
  margin: 0 20px;
}

#about .inner .box {
  flex-basis: 50%;
}

#about .inner .box .text_box {
  position: relative;
}

#about .inner .box .text_box span:nth-child(2) {
  top: -180px;
  display: block;
  font-size: 200px;
  font-family: 'Montserrat';
  font-weight: 900;
  text-align: center;
  line-height: 100%;
  text-shadow: -1px 0 #595959, 0 1px #595959, 1px 0 #595959, 0 -1px #595959;
  color: #081b28;
  position: absolute;
  z-index: -1;
}

#about .inner .box .text_box h2 {
  font-size: 77px;
  line-height: 100%;
  font-weight: 700;
}

#about .inner .box .text_box p {
  font-size: 28px;
  font-family: 'NanumSquare';
  font-weight: 200;
  color: #fff;
  line-height: 135%;
  margin-bottom: 5rem;
}
#about .inner .box .text_box span:nth-of-type(1) {
  position: absolute;
  left: 5px;
  top: -80px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  padding-right: 15px;
}

#about .inner .box .text_box span:nth-of-type(1)::before {
  width: 165px;
  height: 3px;
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  right: -174px;
  top: 50%;
  transform: translateY(-50%);
}

.common_btn {
  display: inline-block;
  text-align: left;
  line-height: 70px;
  width: 225px;
  height: 70px;
  padding: 0 15px;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  border: 1px solid #fff;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.common_btn i {
  position: absolute;
  left: 80%;
  top: 30%;
}

#about .inner .box img {
  flex-basis: 50%;
}

#about .inner .box.img img {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

section#myprofile .row .column .inner .job {
  color: #999;
  font-size: 14px;
}

section#myprofile .row .column .inner img {
  width: 20%;
  border-radius: 100%;
}

section .row .column .inner {
  text-align: center;
}

section#myprofile .row .column .inner p {
  text-align: left;
}

section#portfolio .row .column .inner img {
  border-radius: 5px;
}

#about .inner_2 .box {
  order: 2;
}

#about .inner_2 .box.img {
  order: 1;
}

#about .inner_2 .box .text_box span:nth-of-type(1) {
  left: 110px;
}

#about .inner_2 .text_box {
  padding-left: 110px;
}

/* project */
section#project {
  flex-direction: column;
}

section#project .text_box {
  height: 150px;

  padding-top: 50px;
}

section#project .text_box .title_wrap {
  margin: 40px 0;
}

section#project .text_box .title_wrap > span {
  top: 18px;
  display: block;
  font-size: 200px;
  font-family: 'Montserrat';
  font-weight: 900;
  text-align: center;
  line-height: 100%;
  text-shadow: -1px 0 #595959, 0 1px #595959, 1px 0 #595959, 0 -1px #595959;
  color: #081b28;
  position: absolute;
  z-index: -1;
}

section#project h2 {
  color: #f38200;
  font-family: 'NanumSquare';
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
}

section#project .search_box {
  position: relative;
}

section#project .search_box strong {
  color: #f38200;
  font-size: 30px;
  position: absolute;
  left: 0;
  bottom: 34px;
}

section#project button {
  position: absolute;
  bottom: 30px;
  font-size: 25px;
  color: #fff;
  right: 87px;
}

section#project input {
  background: none;
  border: 0;
  width: 50%;
  font-size: 22px;
  height: 6rem;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 0 auto;
  display: inherit;
}

section#project input::placeholder {
  text-align: center;
}

button span.hide {
  display: none;
}

button span.hide + i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  padding-right: 30px;
}

section#project .inner {
  height: 325px;
  background-color: transparent;
  padding: 60px 40px;
}

section#project .inner h3 {
  margin-bottom: 10px;
  color: #f38200;
}

section#project .inner p {
  line-height: 30px;
}

section#project .row {
  padding-top: 0;
  margin-top: 200px;
}

section#myskill .row .column {
  margin-top: -50px;
}

section .row .column .inner.none_type {
  border: 0;
  box-shadow: none;
  background: none;
}

section > article {
  text-align: center;
  padding: 0 20%;
  color: white;
}

section > article > h2 {
  font-size: 40px;
}

section > article > p {
  font-size: 20px;
}

section .row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1410px;
  padding: 120px 0;
  box-sizing: border-box;
  z-index: 500;
}

/* section row title style */
section .row > h2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

section .row > h2:before,
section .row > h2:after {
  content: '';
  position: absolute;
  display: block;
}

section .row > h2:before {
  width: 120px;
  height: 1px;
  background: #dddddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

section .row > h2:after {
  width: 40px;
  height: 3px;
  background: #f38200;
  bottom: 0px;
  left: calc(50% - 20px);
}

/* progressbar style */

/* active interaction */
section .row {
  opacity: 0;
  transform: translateY(500px);
  transition: 0.8s;
}

section.active .row {
  opacity: 1;
  transform: translateY(0);
}

/* transition */
section.active .row .column .inner.progressbar .items_wrap .items {
  opacity: 1;
}

section.active
  .row
  .column
  .inner.progressbar
  .items_wrap:nth-of-type(1)
  .items {
  width: 50%;
}

section.active
  .row
  .column
  .inner.progressbar
  .items_wrap:nth-of-type(2)
  .items {
  width: 80%;
}

section.active
  .row
  .column
  .inner.progressbar
  .items_wrap:nth-of-type(3)
  .items {
  width: 70%;
}

section.active
  .row
  .column
  .inner.progressbar
  .items_wrap:nth-of-type(4)
  .items {
  width: 60%;
}

section .row .column .inner {
  text-align: center;
}

/* my profile active */
section#myprofile.active .row .column .inner img {
  transform: scale(1);
  opacity: 1;
  transition: 2s;
}

section .row .column .inner img.shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  transition: 1s;
}

section .row .column .inner img.shadow:hover {
  box-shadow: none;
}

/* section row columm style */
section .row .column {
  flex: 25%;
}

section .row .column .inner {
  margin: 15px;
  padding: 15px;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  /* margin: 0 auto; */
}

section .row .column .inner img {
  width: 100%;
}

/* footer area */

#footer {
  background: #000;
  color: #fff;
  font-size: 14px;
}

#footer .footer_top {
  background: #111;
  padding: 60px 0;
}

/* footer conatiner common style */
/* footer_top, #footer */

#footer .container {
  margin: 0 auto;
  width: 1140px;
}

#footer > .container {
  padding: 30px 0;
  text-align: center;
}

#footer .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer .container .row .column {
  flex: 33%;
  box-sizing: border-box;
  padding: 30px 30px;
}

#footer .container .row .column.news {
  padding-left: 0;
  text-align: right;
}

#footer .sns li a {
  display: inline-block;
  margin-right: 10px;
}

.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_logo a {
  display: inline-block;
  margin-right: 10px;
}

.footer_logo a img {
  width: 100%;
  height: 100%;
}

#footer .sns {
  overflow: hidden;
}

#footer .sns li {
  float: left;
}

/* footer logo */

#footer .container .row .column.footer_logo h3 {
  font-size: 34px;
  font-weight: 700px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  letter-spacing: 3px;
}

#footer .container .row .column h4 {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-right: 10px;
}

/* h4 before, after common style */

#footer .container .row .column h4:before,
#footer .container .row .column h4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .container .row .column h4:before {
  right: 0;
  background: #555;
}

#footer .container .row .column h4::after {
  width: 60px;
  background: #f38200;
}

/* lsit */

#footer .container .row .column ul li {
  padding: 10px 0;
}

#footer .container .row .column ul li:nth-child(1) {
  padding-top: 0;
  padding: 10px 0;
}

#footer .container .row .column p {
  line-height: 26px;
}

#footer .container .row .column.news input {
  float: left;
}

#footer .container .row .column.news input[type='search'] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .container .row .column.news input[type='submit'] {
  background: #f38200;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
}

/* subpage */

/* introduce */

#container {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.visual_wrap {
  width: 100vw;
  height: 470px;
}

.visual_wrap .inner {
  background: url('../img/introduce_page/sub_visual.png') no-repeat center
    center/cover;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual_wrap .inner h2 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  animation: textMoveAni 0.6s ease-in-out;
}

.visual_wrap .inner h2 em {
  color: #f38200;
}

.content_wrap {
  width: calc(100% - 220px);
  padding-left: 40px;
}

.content_bg {
  background: url('../img/introduce_page/new_intro_top_bg.png') no-repeat center
    center/cover;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content_bg .content_logo {
  padding-bottom: 15px;
}

.content_bg h2 {
  font-size: 50px;
}

.content_img_top {
  position: absolute;
  width: 60%;
  right: 51px;
  bottom: -232px;
}

.sub_wrap .inner {
  display: flex;
  justify-content: center;
  padding: 125px 0;
  padding-left: 30px;
  max-width: 1650px;
}

.inner #lnb {
  width: 220px;
  float: left;
}

#lnb ul li a {
  display: block;
  padding-bottom: 23px;
}

#lnb ul li a span {
  font-size: 20px;
  color: #000;
  font-weight: 800;
}

#lnb ul li a:hover span {
  color: #e7640e;
}

#lnb .lnb_menu > li > a {
  border-bottom: 3px solid #e7640e;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#lnb .lnb_menu > li > a > span {
  font-size: 29px;
  color: #000;
  font-weight: 900;
  line-height: normal;
}

#lnb .lnb_menu > li > a:hover > span {
  color: initial;
}

.content_wrap header h3 {
  font-size: 32px;
  color: #161b34;
  text-align: left;
  line-height: normal;
  font-weight: 900;
  padding-bottom: 10px;
}

.content_wrap article h4 {
  margin-top: 22px;
  margin-bottom: 68px;
  font-size: 48px;
  color: #000;
  line-height: normal;
  font-weight: 900;
  text-align: left;
}

.content_text {
  margin-top: 120px;
}
.content_text p {
  margin-top: 2px;
  font-size: 20px;
  color: #000;
}

/* alpply */

.apply_bg {
  background: url(../img/apply_page/prize_top01.png) no-repeat center
    center/cover;
}

.apply_bg:before {
  width: 375px;
  height: 336px;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../img/apply_page/prize_top_before.png') no-repeat center
    center/cover;
}
.content_table {
  overflow: hidden;
}

.content_bg .content_logo {
  display: none;
}

.content_table table {
  width: (100% - 180);
  border: none;
  font-size: 22px;
}

.content_table table tr {
  border: none;
}

.content_table table tr td:nth-child(1) {
  width: 120px;
  vertical-align: top;
}

.content_table table td {
  border: none;
  padding: 60px;
  line-height: 35px;
  border-bottom: 1px solid rgba(197, 197, 197, 0.712);
}

.content_table table td span {
  color: #e7640e;
}

.content_table div {
  width: 180px;
  float: left;
}

.content_table h3 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  line-height: 45px;
  padding-top: 68px;
  position: relative;
}

.content_table h3::before {
  position: absolute;
  top: 46px;
  left: 0;
  height: 7px;
  width: 57px;
  background: #f38200;
  content: '';
  display: block;
}

/* reception */

#about.reception {
  background: none;
}

#about.reception::before {
  content: none;
}

#about.reception::after {
  content: none;
}

#about.reception .inner {
  padding-top: 0;
  padding-bottom: 0;
  background: #f6f6f6;
}

#about.reception .inner .box .text_box {
  padding-left: 60px;
  padding-top: 60px;
}

#about.reception .inner .box .text_box h2,
#about.reception .inner .box .text_box p {
  color: #000;
}
#about.reception .inner .box .text_box h2 {
  font-size: 60px;
  padding-bottom: 20px;
}

#about.reception .inner .box .text_box p {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
  line-height: inherit;
}

#about.reception .inner .box .text_box em {
  font-weight: 600;
  color: #fff;
  background: #f38200;
  padding: 1px 1.2px;
  border-radius: 4px;
}

#about.reception .common_btn {
  color: #000;
  border: 1px solid #000;
  width: 190px;
  height: 52px;
  font-size: 17px;
  line-height: 52px;
  font-weight: 600;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

#about.reception .common_btn:hover {
  background: #f38200;
  border: none;
  color: #fff;
}

/* comunity */

.board_lnb {
  display: none;
}

.board_wrap {
  padding-right: 10px;
}

.page_info {
  display: inline-block;
}

.page_info span {
  color: #000;
  font-size: 17px;
}

.total_page {
  padding-right: 10px;
}

.current_page {
  position: relative;
  padding-left: 10px;
}

.current_page::after {
  content: '';
  display: block;
  background-color: #ddd;
  width: 1px;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.board_info {
  overflow: hidden;
}

.page_info {
  float: left;
}

.board_info {
  float: right;
}

.comunity_form {
  display: inline-block;
  border: none;
}

.comunity_form input,
.comunity_form select,
.comunity_form button {
  padding: 10px 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

table#list {
  width: 100%;
  border-collapse: collapse;
}

#list td a {
  color: #555;
}

#list th {
  padding: 20px 10px;
  border-top: 1px solid #535353;
  border-bottom: 1px solid #aaa;
  font-size: 20px;
  color: #222;
  white-space: nowrap;
  font-weight: normal;
  font-weight: bold;
}

#list td {
  background-color: #fff !important;
  color: #555;
  padding: 20px 10px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 18px;
  text-align: center;
}

.pagination {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;
}

.pagination a.active {
  background-color: #f38200;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a {
  color: #222;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

#list .altRow {
  background-color: #e0f0b5;
}

/* responsive style */

@media screen and (max-width: 1380px) {
  #gnb ul li a {
    font-size: 16px;
  }

  section {
    padding-right: 10px;
    padding-left: 10px;
  }

  .intro_wrap {
    flex-direction: column;
  }

  #intro > div > div.intro_left .title_1 {
    margin: 40px auto;
    width: 211px;
    height: 63px;
  }

  #intro > div > div.intro_left .title_2 {
    display: none;
  }

  #intro > div > div.intro_left .title_3 {
    margin: 30px 10px;
  }

  #intro > div > div.intro_left .title_3 p {
    text-align: center;
  }

  .intro_wrap iframe {
    width: 400px;
    height: 300px;
  }

  #intro > div > div.intro_left > img {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .intro_left p em {
    font-size: 26px;
    padding: 30px 0;
  }

  .intro_left span {
    font-size: 25px;
  }

  section#mytools {
    padding: 80px;
    padding-bottom: 100px;
  }

  #mytools .tit em {
    top: 390px;
  }

  .notice_wrap {
    left: 50%;
    transform: translateX(-50%);
  }

  .notice_wrap .tit {
    font-size: 18px;
    padding-right: 10px;
  }

  .notice_slide span,
  .notice_slide em {
    font-size: 16px;
    padding-top: 10px;
  }

  section#mytools .row {
    width: initial;
  }

  section#mytools .row .column .inner {
    height: 180px;
    width: 180px;
    margin: 5px auto;
  }

  section#mytools .row .column .inner h3 {
    font-size: 20px;
  }

  section#mytools .row .column .inner p {
    font-size: 16px;
  }

  section#project h2 {
    font-size: 33px;
  }

  section#project .search_box strong {
    display: block;
    text-align: center;
    font-size: 30px;
    position: initial;
  }

  /* section#project input {
    width: initial;
  } */

  section#project input::placeholder {
    font-size: 15px;
  }

  /* timer */
  .timer_inner ul li span {
    font-size: 45px;
  }

  #footer .container {
    width: 100%;
  }

  #footer .container .row .column {
    flex: 50%;
    padding: 15px 15px;
  }

  #project .row {
    width: initial;
  }

  #project .row .column {
    flex: 100%;
  }

  section#project .inner p {
    width: 400px;
    margin: 0 auto;
  }

  section#project .inner {
    height: 250px;
    padding: 60px 20px;
  }

  /* subpage */

  .sub_wrap > div > div > article > h4 {
    font-size: 28px;
  }

  div.content_bg > h2 {
    font-size: 30px;
  }

  .content_table h3 {
    display: none;
  }

  .content_table table td {
    padding: 30px;
  }

  #about.reception .inner {
    flex-direction: column;
    padding: 0px 10px 20px 10px;
  }

  #about.reception .inner .box .text_box {
    padding: 0;
  }

  #about.reception .inner .box .text_box h2 {
    font-size: 40px;
  }
  #about.reception .inner .box .text_box p {
    font-size: 18px;
    text-align: center;
  }

  #about.reception .common_btn {
    margin-bottom: 0;
  }

  #about.reception .inner .box .text_box h2 {
    text-align: center;
    padding-top: 20px;
  }

  #about.reception .inner .box.img img {
    padding-left: 0;
    padding-top: 30px;
  }

  .board_lnb {
    display: none;
  }

  .sub_wrap .board_inner {
    padding-left: 0;
  }
}

/* tablet pc */

@media screen and (max-width: 767px) {
  section .row .column {
    flex: 100%;
  }

  section#ourclient .row .column,
  section#mytools .row .column {
    flex: 50%;
    margin-top: 10px;
  }

  /* mobile gnb */

  #gnbbtn {
    display: block;
  }

  #mobile_close_btn {
    display: block;
  }

  input[type='checkbox']#gnbcheck:checked ~ #header #gnb {
    left: 0;
  }

  #gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -80%;
    width: 80%;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in-out;
  }

  #gnb ul {
    padding-top: 50px;
  }

  #gnb ul li {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
  }

  #header {
    position: absolute;
  }

  .notice_slide em {
    display: block;
    text-align: right;
    padding-left: 0;
    font-size: 14px;
  }

  #about .inner {
    flex-direction: column;
    padding: 50px 0;
  }
  #about .inner .box.img {
    order: 1;
  }

  #about .inner .box {
    order: 2;
  }

  #about .inner .box.img {
    margin-bottom: 100px;
  }

  #about .inner .box.img img {
    padding-left: 0;
  }

  #about .inner .box .text_box h2 {
    text-align: center;
    font-size: 40px;
  }

  #about .inner .box .text_box p {
    margin-bottom: 30px;
    font-size: 18px;
  }

  #about .inner_2 .text_box {
    padding-left: 0;
  }

  .common_btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /* subpage */

  .content_wrap article h4 {
    font-size: 22px;
  }

  div.content_bg > h2 {
    font-size: 22px;
  }

  .board_inner {
    padding-left: 0;
  }

  #list td {
    font-size: 14px;
  }

  #list th {
    font-size: 15px;
  }
}

/* mobile */

@media screen and (max-width: 480px) {
  .intro_wrap {
    padding-top: 0;
  }

  .intro_left {
    padding-bottom: 30px;
  }

  .intro_left span {
    font-size: 18px;
  }

  .intro_left p em {
    font-size: 18px;
  }

  .notice_slide span {
    padding: 0 20px;
  }

  .notice_slide em {
    display: block;
    text-align: right;
    padding-left: 0;
    font-size: 14px;
  }

  #mytools .tit em {
    font-size: 40px;
  }

  section#ourclient .row .column,
  section#mytools .row .column {
    flex: 100%;
  }

  section#ourclient .row .column .inner img,
  section#mytools .row .column .inner img {
    width: 50%;
  }

  .timer_inner ul li span {
    font-size: 36px;
  }

  #footer .container .row .column {
    flex-direction: column;
  }

  .footer_logo a {
    padding-bottom: 20px;
  }

  /* subpage */

  .sub_wrap > div > div > header > h3 {
    font-size: 29px;
  }

  div.content_bg > h2 {
    font-size: 27px;
  }

  .contant_img_bottom {
    width: 100%;
  }
}

/* subpage mobile responsive */

@media screen and (max-width: 640px) {
  .visual_wrap .inner h2 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }

  #lnb ul li a span {
    font-size: 17px;
  }

  .sub_wrap .inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .content_wrap header h3 {
    text-align: center;
  }

  .content_wrap article h4 {
    text-align: center;
  }

  .inner #lnb {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
  }

  #lnb ul li {
    display: inline-block;
    padding-right: 20px;
  }

  .content_wrap {
    width: initial;
    padding: 0;
  }

  .content_text {
    padding-top: 50px;
    /* width: 400px; */
    width: 100%;
  }

  .content_text p {
    font-size: 13px;
    text-align: center;
  }

  .content_text {
    padding-top: 50px;
  }

  div.contant_img_bottom > img {
    width: 100%;
  }

  .page_info {
    float: right;
    padding-right: 10px;
    font-size: 14px;
  }

  .page_info span {
    font-size: 14px;
  }

  .vote_wrap #lnb ul li {
    padding-right: 0;
  }
}
